@import "style-fonts";

* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 400px + 42px 679px;
  grid-template-rows: 24px 390px 47px;
  row-gap: 45px;
  column-gap: 50px;
  grid-template-areas:
    ". nav-top"
    "section image-block"
    "nav-bottom image-block";

  .nav-top {
    grid-area: nav-top;
    /* display: grid; 
    grid-template-columns: repeat(3, auto); 
    justify-content: space-between; */
    display: flex;
    position: absolute;
    column-gap: 25px;
    row-gap: 6px;
    text-align: center;
    width: 679px;
    overflow-x: scroll;
    scrollbar-width: none;
    flex-wrap: nowrap;
    

    .nav-top_link {
      text-transform: uppercase;
      list-style-type: none;
      width: auto;
      font-family: $ffYO;
      color: #FFFFFF4D;
      cursor: pointer;
      text-wrap: nowrap;
    }
    .link_active {
      color: #E3B873;
      border-bottom: solid 1px #E3B873;
    }
  }
  .section {
    grid-area: section;
    color: #FFFFFF;


    h2, h3 {
      text-transform: uppercase;
      color: #E3B873;
      font-family: $ffYO;
    }
    h3 {
      margin: 0 auto 9px;
    }
    span {
      font-family: $ffNS;
      font-size: 13px;
      line-height: 22px;
    }
    .title {
      display: flex;
      position: relative;
      width: 253px;


      .title_text {
        font-size: 27px;
        line-height: 38px;
        height: 66px;
        margin: 0 auto;
      }
      .title_line {
        display: block;
        position: absolute;
        width: 92px;
        height: 10px;
        right: 0;
        bottom: 0;
        border-top: solid 1.5px #E3B873;
      }
    }
    .info-block {
      display: grid;
      grid-template-columns: 3fr 5fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 29px;
      row-gap: 34px;


        .info-block__text {
          display: flex;
          flex-direction: column;
          font-family: $ffNS;
          font-size: 13px;
          line-height: 27px;
          margin: 0 auto;
        }
    }

    .descrip {
      font-family: $ffNS;
      font-size: 14px;
      line-height: 27px;
      margin: 34px auto 42px;
    }
  }
  .image-block {
    grid-area: image-block;
    width: 679px;
    height: 482px;


    .image {
      width: 100%;
      max-height: 100%;
    }
  }
  .nav-bottom {
    grid-area: nav-bottom;
    position: absolute;
    display: flex;
    height: 18px;
    bottom: 0;


    .arrow {
      bottom: 0;
      cursor: pointer;
    }
    .point-block {
      position: relative;
      display: flex;
      column-gap: 18px;
      height: 18px;
      margin: 0 27px;
      bottom: 2px;

      
      .point {
        cursor: pointer;
      }
    }
  }
}